@import './variables.scss';

.header {
    background-image: url('./../images/pattern-circles.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 40px auto 0;
    max-width: 600px;
}

.header.text-center {
    text-align: center;
}

.header.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.header__h1 {
    font-size: 1.3rem;
    font-weight: 800;
    color: $dark-desaturated-blue;
}

.header__p {
    color: $grayish-blue;
    font-size: 15px;
}